

main {
    background: white;
    height: 80vh;
    width: 60%;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.App {
    height: 100%;
    width: 100%;
    background-color: #eee;
    position: relative;
}

.text-center {
    text-align: center;
}

.sticky-button {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 15px;
}
