body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg,  #0c80ef 0%,#0fa5f0 100%);
}

#root {
    background: white;
    height: 80vh;
    width: 60%;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}